@-ms-viewport {
  width: device-width;
}

/* Desktop Styles */

html {
  font-size: 20px;
  font-family: 'BenchNine', sans-serif;
}

body {
  font-size: 100%;
  font-family: 'BenchNine', sans-serif;
}

.logo {
  align: left;
  background-color: #6B5D4D;
  padding-bottom: 20px;
}

.logoimage {
  height: 120px;
}

.logotext {
  font-size: 2em;
  transform: scale(0.5,1);
  color: #FBEED3;
  font-family: 'Cinzel Decorative', cursive;
  width: 600px;
  margin: -70px 0 0 0;
}

ul {
  list-style: none;
}

.navbar-fixed-top, .navbar-fixed-bottom {
   position: relative;
}

.navbar-right {
    margin: -60px 15px 20px 0;
    background-color: #6B5D4D;
}

/* Anchor styles are for Nav bar. Must be unspecific for active class to be applied */
a {
    text-decoration: none;
    font-size: 1.2em;
    color: #B0A18F;
    padding-right: 50px;
}

a:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #fbeed3;
  padding-right: 50px;
}

a:active {
  text-decoration: none;
  font-size: 1.2em;
  color: #B0A18F;
  padding-right: 50px;
}

a:focus {
  text-decoration: none;
  font-size: 1.2em;
  color: #429398;
  padding-right: 50px;
}

.active {
   font-family: 'BenchNine', sans-serif;
   color: #429398;
   text-decoration: none;
   font-size: 1.2em;
   padding-right: 50px;
}

/* Other anchor tag styles */


/* End anchor tag styles */

img,
embed,
object,
video {
   max-width: 100%;
}

.footer {
  background-color: #6B5D4D;
  color: #fbeed3;
  padding: 2% 1% 0 1%;
  font-size: 80%;
}


/* TABLET STYLES ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {

     .logo {
       align: center;
       border-style: solid;
       border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;
     }

     .logotext {
       margin-top: -80px;
     }

     .navbar-right {
         margin: -5% -1% 0 -8%;
         padding: 7% 0 0 0;
         background-color: #DFCDB4;
         border-style: solid;
         border-color: #DFCDB4 #DFCDB4 #429398 #DFCDB4;
     }

     .navbar-toggle {
       margin: 6% 6% 0 0;
     }

     .icon-bar {
       background-color: #FBEED3;
     }

     li {
       margin: 0 0 2% 47%;
     }

     a {
         color: #6B5D4D;
         margin: 0 -20px;
     }

     a:active {
       color: #6B5D4D;
       margin: 0 -20px;
     }

     a:focus {
       color: #429398;
       margin: 0 -20px;
     }

     .active {
        color: #429398;
        margin: 0 -20px;
     }



}




/* PHONE STYLES  -------------------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {
        body {
               font-size: 90%;
         }

         .logo {
           align: center;
           padding-bottom: 8%;
           border-style: solid;
           border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;
         }

         .logoimage {
           height: 85px;
         }

         .logotext {
           font-size: 1.75em;
           transform: scale(0.5,1);
           color: #FBEED3;
           font-family: 'Cinzel Decorative', serif;
           width: 350px;
           margin: -25% 0 -5% 0;
           text-align: center;
         }

         .navbar-right {
             margin: -1% -5% 0 -8%;
             padding: 5% 0 0 0;
             background-color: #DFCDB4;
         }

         .navbar-toggle {
           margin-top: 10%;
         }

         li {
           margin: 0 0 7% 47%;
         }

         a {
             color: #6B5D4D;
             padding: 5% 2% 5% 0;
         }

         a:active {
           color: #6B5D4D;
           padding: 5% 2% 5% 0;
         }

         a:focus {
           color: #429398;
           padding: 5% 2% 5% 0;
         }

         .active {
            color: #429398;
            padding: 5% 2% 5% 0;
         }

   }

/* Phone retina images */
   @media
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {


           /*background-image: url(logo@2x.png);*/
           /*-webkit-background-size: 75px 75px;*/
           /*background-size: 75px 75px*/


     }
