@-ms-viewport {
  width: device-width;
}

/* Desktop Styles */

html {
  font-size: 20px;
  font-family: 'BenchNine', sans-serif;
}

body {
  font-size: 100%;
  font-family: 'BenchNine', sans-serif;
}

main {
  margin-top: 130px;
}

.navbar {

}

.logo {
  align: left;
  background-color: #6B5D4D;
}

/*.logoimage {
  width: 5%;
  height: 5%;
  margin: 1% 2% 3% 1%;
}*/

.logotext {
  font-size: 2em;
  transform: scale(0.5,1);
  color: #FBEED3;
  font-family: 'Cinzel Decorative', cursive;
  width: 900px;
  margin: 0;
}

ul {
  list-style: none;
}

.navbar-right {
    margin-top: -40px;
    background-color: #6B5D4D;
}

/* Anchor styles are for Nav bar. Must be unspecific for active class to be applied */
a {
    text-decoration: none;
    font-size: 1.2em;
    color: #B0A18F;
    padding-right: 50px;
}

a:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #fbeed3;
  padding-right: 50px;
}

a:active {
  text-decoration: none;
  font-size: 1.2em;
  color: #B0A18F;
  padding-right: 50px;
}

a:focus {
  text-decoration: none;
  font-size: 1.2em;
  color: #429398;
  padding-right: 50px;
}

.active {
   font-family: 'BenchNine', sans-serif;
   color: #429398;
   text-decoration: none;
   font-size: 1.2em;
   padding-right: 50px;
}

/* Other anchor tag styles */


/* End anchor tag styles */

img,
embed,
object,
video {
   max-width: 100%;
}


/* Phone Styles */

@media screen and (max-width: 320px) {
        body {
               font-size: 85%;
         }

         .logo {
           align: center;
           padding-bottom: 8%;
           margin-bottom: -8%;
           border-style: solid;
           border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;
         }

         .logoimage {
           width: 20%;
           height: 20%;
           margin: 10px;
         }

         .logotext {
           font-size: 1.5em;
           transform: scale(0.5,1);
           color: #FBEED3;
           font-family: 'Cinzel Decorative', cursive;
         }

         .navbar-right {
             margin: 8% 0 5% 0;
             padding: 5% 0 1% 0;
             text-align: center;
             background-color: #DFCDB4;
         }

         li {
           margin: 0 0 7% 0;
         }

         a {
             color: #6B5D4D;
             padding: 5% 2% 5% 0;
         }

         a:active {
           color: #6B5D4D;
           padding: 5% 2% 5% 0;
         }

         a:focus {
           color: #429398;
           padding: 5% 2% 5% 0;
         }

         .active {
            color: #429398;
            padding: 5% 2% 5% 0;
         }

         main {
           margin-top: 330px;
         }

   }

/* Phone retina images */
   @media
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {


           /*background-image: url(logo@2x.png);*/
           /*-webkit-background-size: 75px 75px;*/
           /*background-size: 75px 75px*/


     }



   /* Tablet Styles */

   @media screen and (max-width: 768px) {
        body {
            font-size: 100%;
        }

        .logo {
          align: center;
          padding-bottom: 8%;
          margin-bottom: -8%;
          border-style: solid;
          /*border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;*/
        }


        .logotext {
          font-size: 1.75em;
          transform: scale(0.5,1);
          color: #FBEED3;
          font-family: 'Cinzel Decorative', cursive;
        }


   }
