@-ms-viewport {
  width: device-width;
}

/* Desktop/Large Screen Styles */

html {
  font-size: 20px;
  font-family: 'BenchNine', sans-serif;
}

body {
  font-size: 100%;
  font-family: 'BenchNine', sans-serif;
}

h2 {
  color: #439398;
  font-size: 2em;
  padding-top: 50px;
}

h4 {
  margin: 0;
}

h5 {
  margin-top: 3px;
}

.logo {
  align: left;
  background-color: #6B5D4D;
  padding-bottom: 20px;
}

.logoimage {
  height: 120px;
}

.logotext {
  font-size: 2em;
  transform: scale(0.5,1);
  color: #FBEED3;
  font-family: 'Cinzel Decorative', cursive;
  width: 600px;
  margin: -70px 0 0 0;
}

ul {
  list-style: none;
}

.navbar-fixed-top, .navbar-fixed-bottom {
   position: relative;
}

.navbar-right {
    margin: -60px 15px 20px 0;
    background-color: #6B5D4D;
}

/* Anchor styles are for Nav bar. Must be unspecific for active class to be applied */
a {
    text-decoration: none;
    font-size: 1.2em;
    color: #B0A18F;
    padding-right: 50px;
}

a:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #fbeed3;
  padding-right: 50px;
}

a:active {
  text-decoration: none;
  font-size: 1.2em;
  color: #B0A18F;
  padding-right: 50px;
}

a:focus {
  text-decoration: none;
  font-size: 1.2em;
  color: #429398;
  padding-right: 50px;
}

.active {
   font-family: 'BenchNine', sans-serif;
   color: #429398;
   text-decoration: none;
   font-size: 1.2em;
   padding-right: 50px;
}

/* Other anchor tag styles */
main a {
  color: #429398;
}

/* End anchor tag styles */

img,
embed,
object,
video {
   max-width: 100%;
}

.jumbotron {
    margin: -62px 0 -100px 0;
    padding-bottom: -50px;
    background-image: url("/assets/muffinsbeautyLG.jpg");
    background-position: 0% 25%;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 440px;
}

.jumbohead1 {
  font-size: 2.25em;
  transform: scale(0.5,1);
  color: #FBEED3;
  font-family: 'Cinzel Decorative', cursive;
  margin: 5px 0 0 520px;
}

.jumbohead2 {
  font-size: 1.75em;
  transform: scale(0.5,1);
  color: #FBEED3;
  font-family: 'Cinzel Decorative', cursive;
  margin: 100px 0 0 600px;
  width: 1000px;
}

.contenthome {
  background-color: #DFCDB4;
  margin: -12% -5%;
  padding: 0 0 15% 15%;
}

.content {
  background-color: #DFCDB4;
  margin: -10% 0;
  padding: 7% 15% 15% 15%;
}

.bigimage {
  box-shadow: 5px 5px 3px #6B5D4D;
}

.price {
  margin-top: 20px;
}

.footer {
  background-color: #6B5D4D;
  color: #fbeed3;
  padding: 3% 10%;
  font-size: 80%;
}


/* TABLET / MEDIUM SCREEN STYLES ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {

     h2 {
       text-align: center;
       margin-top: 0;
     }

     h5 {
       margin-top: 3%;
     }

     .bigimage {
       display: block;
       margin: 0 auto 20px auto;
     }

     .logo {
       align: center;
       border-style: solid;
       border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;
     }

     .logotext {
       margin-top: -80px;
     }

     .navbar-right {
         margin: -6% -5% 0 -8%;
         padding: 7% 0 0 0;
         background-color: #FBEED3;
         border-style: solid;
         border-color: #FBEED3 #FBEED3 #429398 #FBEED3;
     }

     .navbar-toggle {
       margin: 6% 6% 0 0;
     }

     .icon-bar {
       background-color: #FBEED3;
     }

     li {
       margin: 0 0 2% 47%;
     }

     a {
         color: #6B5D4D;
         margin: 0 -20px;
     }

     a:active {
       color: #6B5D4D;
       margin: 0 -20px;
     }

     a:focus {
       color: #429398;
       margin: 0 -20px;
     }

     .active {
        color: #429398;
        margin: 0 -20px;
     }

     main a {
       margin-left: 0;
     }

     .jumbotron {
         margin: -90px 0 -210px 0;
    }

    .jumbohead1 {
      font-size: 1.5em;
      margin: 6% 0 0 40%;
    }

    .jumbohead2 {
      font-size: 1.25em;
      margin: 7% 0 0 33%;
      width: 100%;
    }

    .contenthome {
      padding: 0 10% 5% 10%;
      margin: 0;
    }

    .muffincontent {
      text-align: center;
    }

    .ghost-button  {
       color: #429398;
       border: 1px solid #429398;
       background-color: #DFCDB4;
       font-size: 1em;
       padding: 7px 12px;
       margin: -9% 0 0 35%;
       text-decoration: none;
       min-width: 120px;
     }

     .ghost-button:active, .ghost-button:hover {
       font-size: 1em;
       color: #6B5D4D;
       border: 1px solid #429398;
       background-color: #DFCDB4;
       padding: 7px 12px;
       margin: -8% 0 0 35%;
       text-decoration: none;
       min-width: 120px;
     }

     .price {
        text-align: left;
        margin-left: 28%;
     }

     /*  UIB Modal styling for Muffins page */
     .app-modal-window .modal-dialog {
       width: 300px;
       position: absolute;
       top: 50%;
       /*half of the modal height*/
       margin-top: -100px;
       left: 50%;
       /*half of the modal width*/
       margin-left: -20%;
     }

}




/* PHONE / SMALL SCREEN STYLES  -------------------------------------------------------------------------------------- */

@media only screen and (max-device-width: 320px) {
/*@media screen and (max-width: 320px) {*/
        body {
               font-size: 90%;
         }

         .logo {
           align: center;
           padding-bottom: 8%;
           border-style: solid;
           border-color: #6B5D4D #6B5D4D #429398 #6B5D4D;
         }

         .logoimage {
           height: 85px;
         }

         .logotext {
           font-size: 1.75em;
           transform: scale(0.5,1);
           color: #FBEED3;
           font-family: 'Cinzel Decorative', serif;
           width: 350px;
           margin: -25% 0 -5% 0;
           text-align: center;
         }

         .navbar-right {
             margin: -2% -5% 0 -8%;
             padding: 5% 0 0 0;
         }

         .navbar-toggle {
           margin-top: 10%;
         }

         li {
           margin: 0 0 7% 47%;
         }

         a {
             color: #6B5D4D;
             padding: 5% 2% 5% 0;
         }

         a:active {
           color: #6B5D4D;
           padding: 5% 2% 5% 0;
         }

         a:focus {
           color: #429398;
           padding: 5% 2% 5% 0;
         }

         .active {
            color: #429398;
            padding: 5% 2% 5% 0;
         }

         .jumbotron {
           margin: -11% 0 -9% 0;
           background-image: url("/assets/muffinsbeautySM.jpg");
           height: 200px;
            }

        .jumbohead1 {
            font-size: 1em;
            margin: 100px 0 0 -15px;
            text-align: center;
            background-color: #B0A18F;
            text-shadow: none;
            width: 350px;
          }

        .jumbohead2 {
            font-size: 0.85em;
            margin: 0 0 0 -15px;
            text-align: center;
            background-color: #B0A18F;
            text-shadow: none;
            width: 350px;
          }

          .contenthome {
              padding: 0 10% 5% 10%;
              margin: 0;
            }

         h2 {
           margin-top: -40px;
         }

         .ghost-button {
            padding: 7px 7px;
            margin: 2% 0 0 30%;
            text-decoration: none;
            min-width: 90px;
            display: inline-block;
            align: center;
            text-align: center;
          }

          .ghost-button:active, .ghost-button:hover {
            font-size: 1em;
            color: #6B5D4D;
            border: 1px solid #429398;
            background-color: #DFCDB4;
            padding: 7px 7px;
            margin: 2% 0 0 32%;
            text-decoration: none;
            min-width: 90px;
            display: inline-block;
            align: center;
            text-align: center;
          }

          .price {
             text-align: center;
             margin-left: 0;
          }

          /*  UIB Modal styling for Muffins page */
          .app-modal-window .modal-dialog {
            width: 200px;
            position: absolute;
            top: 20%;
            margin-top: 0;
            left: 18%;
            margin-left: 0;
          }

   } /* end phone media query */

/* Phone retina images */
   @media
      only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5) {


           /*background-image: url(logo@2x.png);*/
           /*-webkit-background-size: 75px 75px;*/
           /*background-size: 75px 75px*/


     }
