<div class="footer">
  <div class="row">
      <div class="col-md-3">
      <h4>555 Main Street, Hometown, MN 55555</h4>
      <h4>555-555-5555</h4>
      <p> </p>
    </div> <!-- end col 1 -->
      <div class="col-md-9">
        <h4>Monumental Muffins is a fictional entity which was created as a learning exercise in responsive design. Any similarity to any business or person is coincidental.</h4>
        <h5>This site is best viewed in Chrome. &#169;	Susan Rehl 2016</h5>
      </div> <!-- end col 2 -->
   </div><!--end row-->
</div><!--end footer-->
