<nav class="navbar navbar-fixed-top">
  <div class="container-fluid navbarcolor">
    <ul>
      <li class="navbar-brand">Monumental Muffins</li>
    </ul>
    <div ng-controller="navCtrl">
    <ul class="navbar-nav navbar-right" > <!-- one line, flush right -->

      <li><a href='/home'>Home</a></li>
      <li><a href='/muffins'>Muffins</a></li>
      <li><a href='/contact'>Contact</a></li>
      <li><a href='/about'>About</a></li>

    </div> <!-- end controller navCtrl -->
  </div><!--end container-fluid  -->
 </nav>  <!-- end nav bar -->
