<div ng-controller = "aboutController">

  <main>

       <section>
         <h2> About Us </h2>
       </section>

       <section>
         <p>cute bakery photo</p>
         <p>Founded in 2004, Monumental Muffins began as a very humble catering venture for family and friends, operating out of the home of Jane Doe, our founder.</p>
         <p>Jane moved the company to our current location in 2009, and focused solely on creating truly MONUMENTAL muffins!</p>
       </section>
       
  </main> <!-- end main -->

</div> <!-- end about controller -->
