<div ng-controller = "aboutController">

  <main class="content">

       <section>
         <h2> About Us </h2>
       </section>

       <section>
         <div class="row">
             <div class="col-md-8">
                   <picture>
                      <!-- Smallest viewport size   -->
                      <source srcset = "/assets/mmshop275.png" media="(max-device-width: 641px)">
                      <!-- Large viewport size  -->
                      <source srcset = "/assets/mmshop.png" media="(max-device-width: 1200px)">
                      <!-- fallback content for non-JS or non-media-query-supporting browser -->
                      <img class="bigimage" srcset="/assets/mmshop.png" alt="Banana Nut Muffin"/>
                      <noscript>
                         <img class="bigimage" srcset="/assets/mmshop.png" alt="Banana Nut Muffin">
                      </noscript>
                  </picture>
              </div> <!-- end col 1 -->
              <div class="col-md-4">
                  <p class="firstpar">In 2004, Muffy Baker started Monumental Muffins to provide fresh, healthy muffins, made of all-natural ingredients to her catering clientele.</p>
                  <p>The muffins were a hit, and Muffy began to add new flavors and perfect her recipes to include only the finest ingredients.</p>
                  <p>Since the muffin venture continued to grow, Muffy moved the company to our current location in 2009, ended her other catering business, and focused solely on creating truly MONUMENTAL muffins!</p>
                  <p>Come by, and try some fresh-baked, delicious muffins!</p>
              </div> <!-- end col 2 -->
          </div> <!-- end row -->
       </section>

  </main> <!-- end main -->

</div> <!-- end about controller -->
