<div ng-controller = "homeController">

  <main>

    <section class="homeheader">
       <!-- <img ng-src="/images/mmlogo.png" alt="Monumental Muffins logo"></img> -->

       <!-- <picture alt=“Our Alt Text”> -->
          <!-- Smallest size first - no @media qualifier -->
         <!-- <source src = “content-image.jpg”/> -->
         <!-- Large size - send to viewports 800px wide and up -->
         <!-- <source src=“content-image-lrg.jpg” media=“(min-width: 800px)”/> -->

         <!-- <noscript>
            <img src=“content-image.jpg” alt=“Our Alt Text”/>
         </noscript> -->



       <!-- </picture> -->

       <h1>Welcome!</h1>
    </section> <!-- end homeheader -->

    <section class="body">
       <p>Mouthwatering muffins made fresh daily!</p>
       <p class="test">Come in and try some!</p>

    </section>  <!-- end body -->

  </main>  <!-- end main -->

</div> <!-- end controller -->
