<div ng-controller = "homeController">

  <main>

    <section class="homeheader">
       <!-- <img ng-src="/images/mmlogo.png" alt="Monumental Muffins logo"></img> -->
       <h1>Welcome!</h1>
    </section> <!-- end homeheader -->

    <section class="body">
       <p>Mouthwatering muffins made fresh daily!</p>
       <p class="test">Come in and try some!</p>

       <a href="muffins">Muffins</a>
       <a href="contact">Contact</a>
       <a href="about">About</a>

    </section>  <!-- end body -->

  </main>  <!-- end main -->

</div> <!-- end controller -->
