<div ng-controller = "homeController">

  <div class = "container-fluid">

    <div class="homeheader">
       <!-- <img ng-src="/images/mmlogo.png" alt="Monumental Muffins logo"></img> -->
       <h1>Monumental Muffins</h1>
    </div> <!-- end homeheader -->

    <div class="body">
       <p>Mouthwatering muffins made fresh daily!</p>
       <p>Come in and try some!</p>

       <a href="muffins">Muffins</a>
       <a href="contact">Contact</a>
       <a href="about">About</a>

       <!-- <a href="#coding" class="button btn">Check out my projects</a> -->

    </div>  <!-- end body -->

  </div>  <!-- end container -->

</div> <!-- end controller -->
