<div ng-controller = "muffinsController">

  <main>

    <section>
      <h2> Muffins</h2>
    </section>

    <section>
      <h3>Pumpkin Chocolate Chip Muffins</h3>
      <p>photo</p>
      <p>Price: $24 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Banana Walnut Muffins</h3>
      <p>photo</p>
      <p>Price: $22 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>French Spice Puffs</h3>
      <p>photo</p>
      <p>Price: $20 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Apple Raisin Pecan Muffins</h3>
      <p>photo</p>
      <p>Price: $22 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Hearty Oatmeal Walnut Craisin Muffins</h3>
      <p>photo</p>
      <p>Price: $23 per dozen</p>
      <p>Description</p>
    </section>

  </main> <!-- end main -->

</div> <!-- end muffins controller -->
