<div ng-controller = "muffinsController">

  <main>

    <section>
      <h2> Muffins</h2>
    </section>

    <section>
      <h3>Pumpkin Chocolate Chip Muffins</h3>
      <picture>
         <!-- Smallest viewport size   -->
        <source srcset = "/assets/pumpkinmuffin200.png" media="(max-width: 320px)">
        <!-- Large viewport size  -->
        <source srcset = "/assets/pumpkinmuffin.png" media="(max-width: 960px)">
        <!-- fallback content for non-JS or non-media-query-supporting browser -->
        <img srcset="/assets/pumpkinmuffin.png" alt="Banana Nut Muffin"/>
        <noscript>
          <img srcset="/assets/pumpkinmuffin.png" alt="Banana Nut Muffin">
        </noscript>
      </picture>
      <p>Price: $24 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Banana Walnut Muffins</h3>
      <picture>
         <!-- Smallest viewport size   -->
        <source srcset = "/assets/Banananutmuffin200.jpg" media="(max-width: 320px)">
        <!-- Large viewport size  -->
        <source srcset = "/assets/Banananutmuffin.jpg" media="(max-width: 960px)">
        <!-- fallback content for non-JS or non-media-query-supporting browser -->
        <img srcset="/assets/Banananutmuffin.jpg" alt="Banana Nut Muffin"/>
        <noscript>
          <img srcset="/assets/Banananutmuffin.jpg" alt="Banana Nut Muffin">
        </noscript>
      </picture>
      <p>Price: $22 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>French Spice Puffs</h3>
      <picture>
         <!-- Smallest viewport size   -->
        <source srcset = "/assets/frenchpuff200.png" media="(max-width: 320px)">
        <!-- Large viewport size  -->
        <source srcset = "/assets/frenchpuff.png" media="(max-width: 960px)">
        <!-- fallback content for non-JS or non-media-query-supporting browser -->
        <img srcset="/assets/frenchpuff.png" alt="Banana Nut Muffin"/>
        <noscript>
          <img srcset="/assets/frenchpuff.png" alt="Banana Nut Muffin">
        </noscript>
      </picture>
      <p>Price: $20 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Blueberry Muffins</h3>
      <picture>
         <!-- Smallest viewport size   -->
        <source srcset = "/assets/blueberrymuffin200.jpg" media="(max-width: 320px)">
        <!-- Large viewport size  -->
        <source srcset = "/assets/blueberrymuffin.jpg" media="(max-width: 960px)">
        <!-- fallback content for non-JS or non-media-query-supporting browser -->
        <img srcset="/assets/blueberrymuffin.jpg" alt="Banana Nut Muffin"/>
        <noscript>
          <img srcset="/assets/blueberrymuffin.jpg" alt="Banana Nut Muffin">
        </noscript>
      </picture>
      <p>Price: $22 per dozen</p>
      <p>Description</p>
    </section>

    <section>
      <h3>Hearty Oatmeal Walnut Craisin Muffins</h3>
      <picture>
         <!-- Smallest viewport size   -->
        <source srcset = "/assets/oatmealmuffin200.png" media="(max-width: 320px)">
        <!-- Large viewport size  -->
        <source srcset = "/assets/oatmealmuffin.png" media="(max-width: 960px)">
        <!-- fallback content for non-JS or non-media-query-supporting browser -->
        <img srcset="/assets/oatmealmuffin.png" alt="Banana Nut Muffin"/>
        <noscript>
          <img srcset="/assets/oatmealmuffin.png" alt="Banana Nut Muffin">
        </noscript>
      </picture>
      <p>Price: $23 per dozen</p>
      <p>Description</p>
    </section>

  </main> <!-- end main -->

</div> <!-- end muffins controller -->
