<div ng-controller = "muffinsController">

  <main class="content">

    <section>
      <h2> Muffins</h2>
    </section>

    <section class="muffincontent">
      <div ng-controller="modalCtrl as $ctrl">
        <div class="row">
          <div class="col-sm-6 col-lg-3 muffinheight">
            <h3>Pumpkin Chocolate Chip</h3>
            <picture>
              <!-- Smallest viewport size   -->
              <source srcset = "/assets/pumpkinmuffin200.png" media="(max-device-width: 641px)">
              <!-- Large viewport size  -->
              <source srcset = "/assets/pumpkinmuffin.png" media="(max-device-width: 1200px)">
              <!-- fallback content for non-JS or non-media-query-supporting browser -->
              <img class="bigimage" srcset="/assets/pumpkinmuffin.png" alt="Banana Nut Muffin"/>
              <noscript>
                <img class="bigimage" srcset="/assets/pumpkinmuffin.png" alt="Banana Nut Muffin">
              </noscript>
            </picture>
            <div>
            <p class="price">Price: $24 per dozen<p>
            <button class="ghost-button hidden-sm hidden-md hidden-lg" ng-click="$ctrl.pumpkin('lg')">More Info</button>
            <p class="hidden-xs description">Dense, very moist, with mild pumpkin and cinnamon flavor, enhanced by semi-sweet chocolate chips.
              <br>12 oz per muffin. Total fat: 6g. Total calories: 300.</p>
            </div>
          </div>  <!-- end col 1 -->

          <div class="col-sm-6 col-lg-3 muffinheight">
            <h3>Banana Walnut</h3>
            <picture>
               <!-- Smallest viewport size   -->
              <source srcset = "/assets/Banananutmuffin200.jpg" media="(max-device-width: 641px)">
              <!-- Large viewport size  -->
              <source srcset = "/assets/Banananutmuffin.jpg" media="(max-device-width: 1200px)">
              <!-- fallback content for non-JS or non-media-query-supporting browser -->
              <img class="bigimage" srcset="/assets/Banananutmuffin.jpg" alt="Banana Nut Muffin"/>
              <noscript>
                <img class="bigimage" srcset="/assets/Banananutmuffin.jpg" alt="Banana Nut Muffin">
              </noscript>
            </picture>
            <div>
            <p class="price">Price: $22 per dozen</p>
            <button class="ghost-button hidden-sm hidden-md hidden-lg" ng-click="$ctrl.banana('lg')">More Info</button>
            <p class="hidden-xs description">Whole wheat for fiber, with moist banana, cinnamon, and organic walnuts.
              <br>10.5 oz per muffin. Total fat: 4g. Total calories: 250.</p>
            </div>
          </div> <!-- end col 2 -->

          <div class="col-sm-6 col-lg-3 muffinheight">
            <h3>French Spice</h3>
            <picture>
               <!-- Smallest viewport size   -->
              <source srcset = "/assets/frenchpuff200.png" media="(max-device-width: 641px)">
              <!-- Large viewport size  -->
              <source srcset = "/assets/frenchpuff.png" media="(max-device-width: 1200px)">
              <!-- fallback content for non-JS or non-media-query-supporting browser -->
              <img class="bigimage" srcset="/assets/frenchpuff.png" alt="Banana Nut Muffin"/>
              <noscript>
                <img class="bigimage" srcset="/assets/frenchpuff.png" alt="Banana Nut Muffin">
              </noscript>
            </picture>
            <div>
            <p class="price">Price: $20 per dozen</p>
            <button class="ghost-button hidden-sm hidden-md hidden-lg" ng-click="$ctrl.french('lg')">More Info</button>
            <p class="hidden-xs description">Fluffy, light crumbly muffin with light nutmeg flavor and butter cinnamon topping.
              <br>9 oz per muffin. Total fat: 5g. Total calories: 230.</p>
            </div>
          </div>  <!-- end col 3 -->

       <!-- <div class="row"> -->
           <div class="col-sm-6 col-lg-3 muffinheight">
            <h3>Blueberry</h3>
            <picture>
               <!-- Smallest viewport size   -->
              <source srcset = "/assets/blueberrymuffin200.jpg" media="(max-device-width: 641px)">
               <!-- Large viewport size  -->
              <source srcset = "/assets/blueberrymuffin.jpg" media="(max-device-width: 1200px)">
              <!-- fallback content for non-JS or non-media-query-supporting browser -->
              <img class="bigimage" srcset="/assets/blueberrymuffin.jpg" alt="Banana Nut Muffin"/>
             <noscript>
                 <img class="bigimage" srcset="/assets/blueberrymuffin.jpg" alt="Banana Nut Muffin">
             </noscript>
             </picture>
             <div>
            <p class="price">Price: $22 per dozen</p>
              <button class="ghost-button hidden-sm hidden-md hidden-lg" ng-click="$ctrl.blueberry('lg')">More Info</button>
            <p class="hidden-xs description">Fresh organic lemon zest and juice brings out the powerful flavor of fresh organic blueberries.
              <br>9 oz per muffin. Total fat: 3g. Total calories: 210.</p>
            </div>
         </div>  <!-- end col 1 -->

        <div class="col-sm-6 col-lg-3 muffinheight">
            <h3>Hearty Oatmeal Walnut Craisin</h3>
            <picture>
               <!-- Smallest viewport size   -->
              <source srcset = "/assets/oatmealmuffin200.png" media="(max-device-width: 641px)">
              <!-- Large viewport size  -->
               <source srcset = "/assets/oatmealmuffin.png" media="(max-device-width: 1200px)">
              <!-- fallback content for non-JS or non-media-query-supporting browser -->
              <img class="bigimage" srcset="/assets/oatmealmuffin.png" alt="Banana Nut Muffin"/>
              <noscript>
                <img class="bigimage" srcset="/assets/oatmealmuffin.png" alt="Banana Nut Muffin">
              </noscript>
             </picture>
             <div>
             <p class="price">Price: $23 per dozen</p>
             <button class="ghost-button hidden-sm hidden-md hidden-lg" ng-click="$ctrl.oatmeal('lg')">More Info</button>
             <p class="hidden-xs description">Whole wheat and oatmeal combine with organic walnuts, craisins, and Vietnamese cinnamon to make a filling, delicious muffin.
               <br>12 oz per muffin. Total fat: 3g. Total calories: 220.</p>
             </div>
        </div>  <!-- end col 2 -->
     </div>  <!-- end row -->

     <!-- MODAL SCRIPTS -->
               <script type="text/ng-template" id="pumpkin.html">
               <!-- BODY -->
                   <div class="modal-body" id="modal-body">
                     <p>Dense, very moist with mild pumpkin and cinnamon flavor, enhanced by semi-sweet chocolate chips.
                       <br>12 oz per muffin. Total fat: 6g. Total calories: 300.</p>
                   </div>
               <!-- FOOTER -->
                   <div class="modal-footer">
                       <a class="ghost-button" ng-click="$ctrl.ok()">Close</a>
                   </div>
               </script>

               <script type="text/ng-template" id="banana.html">
               <!-- BODY -->
                   <div class="modal-body" id="modal-body">
                     <p>Whole wheat for fiber, with moist banana, cinnamon, and organic walnuts.
                       <br>10.5 oz per muffin. Total fat: 4g. Total calories: 250.</p>
                   </div>
               <!-- FOOTER -->
                   <div class="modal-footer">
                       <a class="ghost-button" ng-click="$ctrl.ok()">Close</a>
                   </div>
               </script>

               <script type="text/ng-template" id="french.html">
               <!-- BODY -->
                   <div class="modal-body" id="modal-body">
                     Fluffy, light crumbly muffin with light nutmeg flavor and butter cinnamon topping.
                     <br>9 oz per muffin. Total fat: 5g. Total calories: 230.</p>
                   </div>
               <!-- FOOTER -->
                   <div class="modal-footer">
                       <a class="ghost-button" ng-click="$ctrl.ok()">Close</a>
                   </div>
               </script>

               <script type="text/ng-template" id="blueberry.html">
               <!-- BODY -->
                   <div class="modal-body" id="modal-body">
                     Fresh organic lemon zest and juice brings out the powerful flavor of fresh organic blueberries.
                     <br>9 oz per muffin. Total fat: 3g. Total calories: 210.</p>
                   </div>
               <!-- FOOTER -->
                   <div class="modal-footer">
                       <a class="ghost-button" ng-click="$ctrl.ok()">Close</a>
                   </div>
               </script>

               <script type="text/ng-template" id="oatmeal.html">
               <!-- BODY -->
                   <div class="modal-body" id="modal-body">
                     Whole wheat and oatmeal combine with organic walnuts, craisins, and Vietnamese cinnamon to make a filling, delicious muffin.
                     <br>12 oz per muffin. Total fat: 3g. Total calories: 220.</p>
                   </div>
               <!-- FOOTER -->
                   <div class="modal-footer">
                       <a class="ghost-button" ng-click="$ctrl.ok()">Close</a>
                   </div>
               </script>


   </div>  <!-- end controller -->

  </main> <!-- end main -->

</div> <!-- end muffins controller -->
